.Form, .multipleOptions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Form {
  margin-left: 0.5rem;
}

@media (min-width: 768px) {
  .Form {
    margin: 1rem 4rem 1rem 4rem;
  }
}

@media (min-width: 992px) {
  .Form {
    margin: 0.5rem 0rem 0.5rem 7rem;
  }
}

@media (min-width: 1200px){
  .Form {
    margin: 0.5rem 0rem 0.5rem 7rem;
  }

}








