@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

:root {
    --bg-color: #EDF5FC;
    --primary-color: #558AF2;
    --second-color: #FD5E53;
    --Btn-color: #5CA84D;
    --color-text: #0F0E0E;
    --error-color: #DE3C3C;
    /*Ximena*/
    --transition: all 400ms ease;
    /*ancho de una clase contenedora de la mayoria de componentes */
    --container-width-lg:75%;
    /*para tablets*/
    --container-width-md:86%;
    /*small devices like a cellphone */
    --container-width-sm:85%;

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 15px;
}



/*Responsive*/

@media (min-width: 768px) {
    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    p {
        font-size: 20px;
    }
}


@media (min-width: 1440px) {

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
    }
    
    h2 {
        font-size: 35px;
    }
    
    p {
        font-size: 20px;
    }

}

