.container_box .container2  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.2rem;
}

.container_box .container2 img{
  max-width: 460px;
}
.cardBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  margin: 2rem 10rem 2rem 10rem;
  width: 80%;
  gap: 3rem;
}


#Card:hover {
  transform: scale(1.1);
}

#Btn1 {
  background-color: var(--Btn-color);
  border-radius: 10px;
  color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

#Btn1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

#Btn2 {
  border: solid 2px var(--Btn-color);
  border-radius: 10px;
  color: var(--Btn-color);
  font-family: "Poppins", sans-serif;
}

#Btn2:hover {
  background-color: var(--Btn-color);
  color: var(--bg-color);
}

#Btn2:focus {
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: 2px;
}

#Btn2:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#actionsBox {
  backdrop-filter: blur(15px);
}

/*----------------------MEDIA QUERIES (SMALL DEVICES )--------------------------------*/
@media (max-width: 926px) {
  .container_box .container2 img {
    padding: 0;
    min-width: 260px;
    height: 2px;
    padding: 0rem 4rem 2rem 0rem;
  }
}

@media (max-width: 667px) {
  .container2 {
    display: grid;
    place-items: center;
    padding-top: 1rem;
    width: var(--container-width-sm);
    padding-left: none;
  }
  .container2 h1 {
    font-size: 30px;
    margin-left: 2rem;
  }
  .container_box .container2 img {
    min-width: 260px;
    height: 2px;
  }
  .cardBox {
    margin-left: 1.2rem;
    padding: 0;
    width: var(--container-width-sm);
  }

  #Btn1 {
    display: flex;
    font-size: 0.82rem;
  }
  #Btn2 {
    display: flex;
    font-size: 0.82rem;
  }
  /*investigar como hacer para que se vean solo 4 proyectos en el celular*/
}



/*--------------------------------MEDIA QUERIES (MEDIUM DEVICES)----------------------------------*/

@media (max-width: 1024px) {
  .container_box .container2  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container_box .container2 img{
    width: 440px;
    height: 5px;
    margin-left: 5rem;
  }

  .cardBox {
    margin: 1rem;
    padding: 1rem;
    width: var(--container-width-md);
  }

  h1 {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
  }

  #actionsBox {
    width: 90%;
    display: flex;
  }
}

/*----------------PAGINATION-------------------*/
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}

.pagination__link {
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 0 4px 0 4px;
  cursor: pointer;
}

.pagination__link--active {
  background-color: whitesmoke;
  color: white !important;
  border-radius: 2px;
  padding: 0 5px;
  margin: 0 4px 0 4px;
  pointer-events: fill;
  cursor: pointer;
}

.pagination__link--disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: pointer;
}

.container_pagination {
    margin: 30px;
}

.pagination__item {
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.pagination__item--selected a {
  color: white;
  cursor: pointer;
}
