
.cardBox{
    display: grid;
    grid-template-columns: 
      repeat(auto-fit, 
      minmax(300px, 1fr)
      );
    place-items: center;
    margin: 2rem 10rem 2rem 10rem;
    width: 80%;
    gap: 3rem;
}

#Card:hover{
    transform: scale(1.1);
}

#Btn1 {
    background-color: var(--Btn-color);
    border-radius: 10px;
    color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
}

#Btn1:hover{
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#Btn2 {
    border: solid 2px var(--Btn-color);
    border-radius: 10px;
    color: var(--Btn-color);
    font-family: 'Poppins', sans-serif;
}

#Btn2:hover {
    background-color: var(--Btn-color);
    color: var(--bg-color);
  }
  
  #Btn2:focus {
    outline: 2px solid rgba(0,0,0,0.1);
    outline-offset: 2px;
  }
  
  #Btn2:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

