.container1 .container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  margin: 2rem 10rem 2rem 10rem;
  width: 80%;
  gap: 3rem;
}
img {
  padding: 0 2rem 2rem 0;
}

#Card:hover {
  transform: scale(1.1);
}

#Btn1 {
  background-color: var(--Btn-color);
  border-radius: 10px;
  color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

#Btn1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

#Btn2 {
  border: solid 2px var(--Btn-color);
  border-radius: 10px;
  color: var(--Btn-color);
  font-family: "Poppins", sans-serif;
}

#Btn2:hover {
  background-color: var(--Btn-color);
  color: var(--bg-color);
}

#Btn2:focus {
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: 2px;
}

#Btn2:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#actionsBox {
  backdrop-filter: blur(15px);
}

/*--------------------------------MEDIA QUERIES (MEDIUM DEVICES)----------------------------------*/


@media (max-width: 1024px) {
  
   .container_box .container2 img {
    display: flex;
    align-items: center;
    justify-content: center;
    /*
    align-content: center;
    max-width: 420px;
    padding-left:  10.8rem;
    */

  }

  .cardBox {
    margin: 1rem;
    padding: 1rem;
    width: var(--container-width-md);
  }

  h1 {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
  }

  #actionsBox {
    width: 90%;
    display: flex;
  }
}
/*----------------------MEDIA QUERIES (SMALL DEVICES )--------------------------------*/
@media (max-width: 926px) {
  .container2 img {
    min-width: 260px;
    max-width: 260px;
    padding: 0rem 4rem 2rem 0rem;
  }
}

@media (max-width: 667px) {
  .container2 {
    display: grid;
    place-items: center;
    padding-top: 1rem;
    width: var(--container-width-sm);
  }
  .container2 h1 {
    font-size: 30px;
    margin-left: 2rem;
  }
  .container2 img {
    min-width: 260px;
    max-width: 260px;
    margin-left: 1rem;
  }
  .cardBox {
    margin-left: 1.2rem;
    padding: 0;
    width: var(--container-width-sm);
  }

  #Btn1 {
    display: flex;
    font-size: 0.82rem;
  }
  #Btn2 {
    display: flex;
    font-size: 0.82rem;
  }
  /*investigar como hacer para que se vean solo 4 proyectos en el celular*/
}
