@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

h1 {
    font-family: 'Poppins', sans-serif;
}